<div class="inputField">
    <label for={{name}} class="inputField__label">{{label}}</label>
    <input type="{{type}}" class="inputField__input" name={{name}}>
    <p class="inputField__error">{{errorText}}</p>
</div>
