<div class="chat">
    {{#if ChatSettings}}
        <div class="chat__head">
        {{#if isChatSelected}}
            {{#if avatarSrc}}
                <img src="{{avatarSrc}}" alt="avatar" class="chat__avatar">
            {{else}}
                <div class="chat__avatar chat__avatar_empty"></div>
            {{/if}}
                <h2 class="chat__name">{{chatName}}</h2>
        {{/if}}
            {{{ChatSettings}}}
        </div>
    {{/if}}
    <div {{#if isChatSelected}}class="chat__messagesWindow"{{/if}} class="chat__messagesWindow chat__messagesWindow_chatIsNotSelected">
        {{#if isChatSelected}}
            {{#each chatMessages}}
                {{{this}}}
            {{/each}}
        {{else}}
            <p class="chat__chooseChatSign">Выберите чат чтобы отправить сообщение</p>
        {{/if}}
    </div>
    {{#if isChatSelected}}{{{ChatMessageInput}}}{{/if}}
    {{{Modal}}}
    {{#unless isChatSelected}}
        {{{CreateChatBtn}}}
    {{/unless}}
</div>
