<div class='chatSettings'>
  {{{openBtn}}}

  <ul {{#if isOpen}}class='chatSettings__list chatSettings__list_open'{{/if}} class="chatSettings__list">
    <li class='chatSettings__item'>
      {{{deleteChatBtn}}}
    </li>
    <li class='chatSettings__item'>
      {{{addUserBtn}}}
    </li>
    <li class='chatSettings__item'>
      {{{deleteUserBtn}}}
    </li>
    <li class='chatSettings__item'>
      {{{changeAvatarBtn}}}
    </li>
  </ul>
</div>
