<div class='inputField {{inputWrapperStyle}}'>
  <label for={{name}} class='inputField__label {{labelStyle}}'>{{label}}</label>
  {{{input}}}
  <p class='inputField__error {{errorStyle}}'>{{errorText}}</p>
</div>
